#locations {
  padding: 8rem;
}

#locations .section-title {
  /* padding: 2rem; */
  text-align: center;
  font-size: 3rem;
}

#locations .instructions {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#locations .location-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#locations .location-image {
  text-align: center;
}

#locations .location-image img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 500px;
}

#locations .location-address {
  text-align: center;
  padding-top: 1.5rem;
}
#locations .location-address .mian-address {
  font-weight: 300;
  font-size: 1.1rem;
}

#locations .location-address .mian-address .address {
  font-weight: 400;
  font-size: 1.2rem;
}
#locations .location-address .facebook-btn {
  padding-top: 1.5rem;
}

#locations .location-address .facebook-btn .btn-outline-primary {
  border-radius: none;
  width: 30%;
  padding: 15px 15px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.15em;
  border: 2px solid #c9f0f0;
  color: black;
}

#locations .location-address .facebook-btn .btn-outline-primary:hover {
  background-color: #c9f0f0;
  color: #cd0416;
}

#locations .location-address .facebook-btn {
  text-decoration: none;
}

#locations .location-address .facebook-btn a {
  text-decoration: none;
}
