/* MAIN MENU LAYOUT  */
#menu {
  padding: 6rem;
}

#menu .section-title {
  /* padding: 2rem; */
  text-align: center;
  font-size: 3rem;
}

#menu .card-group {
  margin-top: 1.2rem;
}

#menu .card {
  border: none;
}

#menu .card-body {
  border-radius: none;
  text-align: center;
}

#menu .card-body .btn {
  border-radius: none;
  width: 70%;
  padding: 21px 34px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.15em;
  border: 2px solid #c9f0f0;
  color: black;
}

#menu .card-body .btn:hover {
  background-color: #c9f0f0;
  color: #cd0416;
}

/* DONUT MENU PAGE LAYOUT */

#menu .section-title {
  text-align: center !important;
}

#menu .menu-title {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center !important;
  margin-bottom: 10px;
}

#menu .menu-quote {
  text-transform: uppercase;
  text-align: center !important;
  font-weight: 700;
  font-size: 2rem;
  color: #cd0416;
}

#menu .card-group .card .card-body .card-title {
  font-weight: 600;
  text-align: center;
  color: #2d2d38;
  font-size: 1.5rem;
}

#menu .card-group .card .card-body .card-text {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 20px;
}

#menu .card-img-top {
  max-height: 300px;
  max-width: 500px;
}

#menu .card-body .card-text {
  line-height: 1.8rem;
}

@media (max-width: 991.98px) {
  #menu .menu-title {
    font-size: 2rem !important;
  }
  #menu .menu-quote {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 1199.98px) {
  #menu .card-body .btn {
    width: 90%;
    padding: none;
  }
  #menu .menu-title {
    font-size: 2rem !important;
  }
  #menu .menu-quote {
    font-size: 1rem !important;
  }

  #menu .story {
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 100%;
  }
}

/* @media (max-width: 991.98px) {
  #menu .card-body .btn {
    width: 90%;
    padding: none;
  }
  #menu .menu-title {
    font-size: 2rem;
  }

  #menu .story {
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 100%;
  }
} */

/* Donuts */

.view {
  height: 550px;
  position: relative;
  overflow: hidden;
}

.view img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* GALLERY */

.gallery .card-gallery {
  padding-top: 20px;
}

/* Story */
.story-text {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
