@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import 'cssreset.css';
@import 'selections.css';
@import 'hours.css';
@import 'locations.css';
@import 'donut-menu.css';

body {
  background-color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}
/*----------- Navbar --------------*/
#navbar .navbar .container {
  background-color: #fff;
}

#navbar .social-media {
  color: #cd0416;
  text-decoration: none;
  padding: 5px;
  font-size: 1.3rem;
}

/*----------- Jumbotron ------------*/
.main-view {
  height: 80vh;
  background-color: #c9f0f0;
}

.jumbotron {
  padding: 150px 0;
  text-align: center;
}

.jumbotron h1 {
  font-weight: 300;
  font-size: 150px;
}

.main-view-img {
  margin-bottom: 30px;
}

.main-view-img img {
  height: 150px;
}

/*----------- F00TER -----------*/

#footer {
  padding: 100px;
  background-color: #c9f0f0;
}

#footer .footer-logo {
  text-align: center;
}

#footer .footer-logo .f-logo {
  height: 100px;
}

#footer h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
}

#footer .footer-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
}

#footer .shop-contact {
  text-align: center;
  padding-top: 0.5rem;
}

#footer .location-name {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#footer .location-name .name {
  font-weight: 400;
  font-size: 1.2rem;
}

#footer .phone-number .number {
  color: #cd0416;
  text-decoration: none;
}

#footer .social-media {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.3rem;
}

#footer .social-media a {
  color: #cd0416;
  text-decoration: none;
  padding: 5px;
}
